.caixa {
    background-color: #6fd5e2;
}

.titulo {
    color: white !important; 
    font-weight: bold !important;
}

.botao {
    border-color: white !important; 
    background-color: #6fd5e2; 
    color: white !important;
}

.postagens {
    background-color: white;
}

.text-decorator-none {
    text-decoration: none;
}